body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

header {
    max-width: 100vw;
    box-shadow: 0px 5px 10px rgba(43, 93, 168, 0.15);
    background-color: #FFFFFF;
    height: 70px;
}

.container__items {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container__news {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__notification {
    display: flex;
    padding: 3px 5px;
    height: 10px;
    border-radius: 10px;
    background-color: #FECC00;
    font-size: 9px;
    color: #000000;
    font-weight: 500;
    text-align: center;
    margin-top: -15px;
    margin-left: -12px;
}

.button__login {
    background-color: #FECF10;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 10px 30px rgba(254, 204, 0, 0.3);
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.button__lang {
    border: none;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 5px 20px rgba(43, 93, 168, 0.2));
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-lefT: 15px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #2B5DA8;
}

.button__menu {
    border: none;
    background-color: #FFFFFF;
}

.button__notify {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
    bordeR: none;
}

a {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    color: black;
}

a:hover {
    border-bottom: 2px solid #2B5DA8;
    color: #2B5DA8!important;
    height: 70px;
}